{{ header }}

{#====  Loader breadcrumbs ==== #}
{% include theme_directory~'/template/soconfig/breadcrumbs.twig' %}

{#====  Variables url parameter ==== #}
{% if url_asidePosition %}{% set col_position = url_asidePosition %}
{% else %}{% set col_position = soconfig.get_settings('catalog_col_position') %}{% endif %}

{% if url_asideType %} {% set col_canvas = url_asideType %}
{% else %}{% set col_canvas = soconfig.get_settings('catalog_col_type') %}{% endif %}

{% if url_productGallery %} {% set productGallery = url_productGallery %}
{% else %}{% set productGallery = soconfig.get_settings('thumbnails_position') %}{% endif %}

{% if url_sidebarsticky %} {% set sidebar_sticky = url_sidebarsticky %}
{% else %} {% set sidebar_sticky = soconfig.get_settings('catalog_sidebar_sticky') %}{% endif %}

{% set desktop_canvas = col_canvas =='off_canvas' ? 'desktop-offcanvas' : '' %}

<div class="content-main container product-detail  {{desktop_canvas}}">
    <div class="row">

        {#==== Column Left Outside ==== #}

        {% if col_position== 'outside' %}
            {{ column_left }}

            {% if col_canvas =='off_canvas' %}
                {% set class_pos = 'col-sm-12' %}
            {% elseif column_left and column_right %}
                {% set class_pos = 'col-md-6 col-xs-12 fluid-allsidebar' %}
            {% elseif column_left or column_right %}
                {% set class_pos = 'col-md-9 col-sm-12 col-xs-12 fluid-sidebar' %}
            {% else %}
                {% set class_pos = 'col-sm-12' %}
            {% endif %}
        {% else %}
            {% set class_pos = 'col-sm-12' %}
        {% endif %}
        {#==== End Column Outside ==== #}

        <div id="content" class="product-view {{class_pos}}"> 

            {#====  Product Gallery ==== #}
            {% if productGallery =='grid' %}
                {% set class_left_gallery  = 'col-md-6 col-sm-12 col-xs-12' %}
                {% set class_right_gallery = 'col-md-6 col-sm-12 col-xs-12' %}
            {% elseif productGallery =='list' %}
                {% set class_left_gallery  = 'col-md-5 col-sm-12 col-xs-12' %}
                {% set class_right_gallery = 'col-md-7 col-sm-12 col-xs-12' %}
            {% elseif productGallery =='left' %}
                {% set class_left_gallery  = 'col-md-6 col-sm-12 col-xs-12' %}
                {% set class_right_gallery = 'col-md-6 col-sm-12 col-xs-12' %}
            {% elseif productGallery =='bottom' %}
                {% set class_left_gallery  = 'col-md-5 col-sm-12 col-xs-12' %}
                {% set class_right_gallery = 'col-md-7 col-sm-12 col-xs-12' %}
            {% else %}
                {% set class_left_gallery  = 'col-md-12 col-sm-12 col-xs-12' %}
                {% set class_right_gallery = 'col-md-12 col-sm-12 col-xs-12 col-gallery-slider' %}
            {% endif %}

            {#====  Button Sidebar canvas==== #}
            {% if column_left or column_right %}
                {% set class_canvas = col_canvas =='off_canvas' ? '' : 'hidden-lg hidden-md' %}
                <a href="javascript:void(0)" class=" open-sidebar {{class_canvas}}"><i class="fa fa-bars"></i>{{ text_sidebar }}</a>
                <div class="sidebar-overlay "></div>
            {% endif %}


            <div class="content-product-mainheader clearfix"> 
                <div class="row">	
                    {#========== Product Left ============#}
                    <div class="content-product-left  {{ class_left_gallery }}">
                        <div class="large-image  {{class_honizol}} parallax-layer" data-depth="0.4">
                                <img itemprop="image" class="product-image-zoom lazyload" data-sizes="auto" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{popup}}" data-zoom-image="{{popup}}" title="{{ heading_title }}" alt="{{ heading_title }}" />
                        </div>


                    </div>
                    {#========== //Product Left ============#}

                    {#========== Product Right ============#}
                    <div class="content-product-right {{ class_right_gallery }}"itemprop="offerDetails" itemscope itemtype="http://schema.org/Product">
                        <div class="product-info-container parallax-layer"  data-depth="0.2" > 
                            <div class="title-product">
                                <h1 itemprop="name">{{heading_title}}</h1>
                            </div>
                            <div class="product-box-desc">
                                <div class="inner-box-desc">
                                    {% if model %}
                                        <div class="model">{{ model }}</div>
                                    {% endif %}
                                </div>	
                                <div class="inner-box-desc">
                                    <div id="collapse-description" class="desc-collapse {{class_showmore}}">
                                        {{ description }}
                                    </div>	

                                    {% if showmore %}
                                        <div class="button-toggle">
                                            <a class="showmore" data-toggle="collapse" href="#" aria-expanded="false" aria-controls="collapse-footer">
                                                <span class="toggle-more">{{ objlang.get('show_more') }} <i class="fa fa-angle-down"></i></span> 
                                                <span class="toggle-less">{{ objlang.get('show_less') }} <i class="fa fa-angle-up"></i></span>           
                                            </a>        
                                        </div>
                                    {% endif %}
                                </div> 	


                                <div id="thumb-slider" class="full_slider  contentslider" data-rtl="{{direction}}" data-autoplay="no"  data-pagination="no" data-delay="4" data-speed="0.6" data-margin="10"  data-items_column0="5" data-items_column1="3" data-items_column2="5" data-items_column3="3" data-items_column4="3" data-arrows="yes" data-lazyload="yes" data-loop="no" data-hoverpause="yes">
                                        {% for key,image in images %}
                                                <div class="image-additional">
                                                <a data-index="{{key}}" class="img thumbnail " data-image="{{image.popup}}" title="{{ heading_title }}">
                                                        <img class="lazyload" data-sizes="auto" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ image.thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}" />
                                                </a>
                                                </div>
                                        {% endfor %}
                                        </ul>
                                </div>
                            </div> 

                            {#===== Show CountDown Product =======#}
                            {% if soconfig.get_settings('countdown_status') and special_end_date %}
                                {% include theme_directory~'/template/soconfig/countdown.twig' with {product: product,special_end_date:special_end_date} %}
                            {% endif %}

                        </div>



                    </div>
                    {#========== //Product Right ============#}
                </div>
            </div>
           
            {#====  content_Top==== #}
            {% if content_top %}
                <div class="content-product-maintop form-group clearfix">
                    {{ content_top }}
                </div>
            {% endif %}
            <div class="content-product-mainbody clearfix row">
                {% if col_position== 'inside' %}
                    {#====  Column left inside==== #}
                    {{ column_left }}
                    {% if col_canvas =='off_canvas' %}
                        {% set class_left = 'col-sm-12' %}
                    {% elseif column_left and column_right %}
                        {% set class_left = 'col-md-6 col-column3' %}
                    {% elseif column_left or column_right %}
                        {% set class_left = 'col-md-9 col-sm-12 col-xs-12' %}
                    {% else %}
                        {% set class_left = 'col-sm-12' %}
                    {% endif %}
                {% else %}
                    {% set class_left = 'col-sm-12' %}
                {% endif %}

                <div class="content-product-content {{ class_left }}">
                    <div class="content-product-midde clearfix">
                        {#========== TAB BLOCK ============#}
                        {% set related_position = soconfig.get_settings('tabs_position') == 1 ? 'vertical-tabs' : ''  %}
                        {% set tabs_position	= soconfig.get_settings('tabs_position')  %}
                        {% set showmore			= soconfig.get_settings('product_enableshowmore')  %}
                        {% if showmore %} {% set class_showmore = 'showdown' %}
                        {% else %} {% set class_showmore = 'showup' %}
                        {% endif %}
                        <div class="producttab ">
                                <h3> {{ tab_description }}</h3>
                                <div class="tab-content {% if tabs_position == 1  %} {{ 'col-lg-9 col-sm-8' }} {% endif %} col-xs-12">
                                    <div class="tab-pane active" id="tab-description">

                                        {% if attribute_groups %}
                                            <ul class="product-property-list util-clearfix">
                                                {% for attribute_group in attribute_groups %}


                                                    {% for attribute in attribute_group.attribute %}
                                                        <li class="property-item">
                                                            <span class="propery-title">{{ attribute.name }}</span>
                                                            <span class="propery-des">{{ attribute.text }}</span>
                                                        </li>
                                                    {% endfor %}

                                                {% endfor %}
                                            </ul>
                                        {% endif %}

                                    </div>


                                </div>
                        </div>
                    </div>
                    {#====  Related_Product==== #}
                    {% if products and soconfig.get_settings('related_status') %}
                        <div class="content-product-bottom clearfix">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#product-related">{{ text_related }}</a></li> 
                                <li><a data-toggle="tab" href="#product-upsell">{{ text_upsell }}</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="product-related" class="tab-pane fade in active">
                                    {% include theme_directory~'/template/soconfig/related_product.twig' %}
                                </div>
                                <div id="product-upsell" class="tab-pane fade">
                                    {#====  content_bottom==== #}
                                    {{ content_bottom }}
                                </div>
                            </div>

                        </div>
                    {% endif %}
                </div>
                {#====  Column Right inside==== #}
                {% if col_position== 'inside' %} {{ column_right }} {% endif %}
            </div>
        </div>
        {#====  Column Right outside==== #}
        {% if col_position== 'outside' %} {{ column_right }} {% endif %}
    </div>
</div>




    <script type="text/javascript"><!--
$(document).ready(function() {

                // Initialize the sticky scrolling on an item 
                sidebar_sticky = '{{sidebar_sticky}}';

        if (sidebar_sticky == 'left') {
            $(".left_column").stick_in_parent({
                offset_top: 10,
                bottoming: true
            });
        } else if (sidebar_sticky == 'right') {
            $(".right_column").stick_in_parent({
                offset_top: 10,
                bottoming: true
            });
        } else if (sidebar_sticky == 'all') {
            $(".content-aside").stick_in_parent({
                offset_top: 10,
                bottoming: true
            });
        }


        $("#thumb-slider .image-additional").each(function () {
            $(this).find("[data-index='0']").addClass('active');
        });

        $('.product-options li.radio').click(function () {
            $(this).addClass(function () {
                if ($(this).hasClass("active"))
                    return "";
                return "active";
            });

            $(this).siblings("li").removeClass("active");
            $(this).parent().find('.selected-option').html('<span class="label label-success">' + $(this).find('img').data('original-title') + '</span>');
        })

        $('.thumb-video').magnificPopup({
            type: 'iframe',
            iframe: {
                patterns: {
                    youtube: {
                            index: 'youtube.com/', // String that detects type of video (in this case YouTube). Simply via url.indexOf(index).
                            id: 'v=', // String that splits URL in a two parts, second part should be %id%
                            src: '//www.youtube.com/embed/%id%?autoplay=1' // URL that will be set as a source for iframe. 
                        },
                    }
                }
            });
                });
                //--></script>


                <script type="text/javascript">
                var ajax_price = function() 
            {
                    $.ajax({
                        type: 'POST',
                        url: 'index.php?route=extension/soconfig/liveprice/index',
                        data: $('.product-detail input[type=\'text\'], .product-detail input[type=\'hidden\'], .product-detail input[type=\'radio\']:checked, .product-detail input[type=\'checkbox\']:checked, .product-detail select, .product-detail textarea'),
                        dataType: 'json',
                        success: function (json) {
                            if (json.success) {
                                        change_price('#price-special', json.new_price.special);
                                        change_price('#price-tax', json.new_price.tax);
                                        change_price('#price-old', json.new_price.price);
                                }
                            }
                        });
            }
            
            var change_price = function(id, new_price) {            $(id).html(new_price);
                }
                
                $('.product-detail input[type=\'text\'], .product-detail input[type=\'hidden\'], .product-detail input[type=\'radio\'], .product-detail input[type=\'checkbox\'], .product-detail select, .product-detail textarea, .product-detail input[name=\'quantity\']').on('chang            e', function(){
                        ajax_price();
                    });
</script>

<script type="text/javascript"><!--
	$(document).ready(function() {
		var zoomCollection = '.large-image img';
		$( zoomCollection ).elevateZoom({
			//value zoomType (window,inner,lens)
			{% if soconfig.get_settings('product_enablezoom')%}
			zoomType        : "inner",
			{% else %}
			zoomType        :"none",
			{% endif %}
			lensSize    :'250',
			easing:false,
			scrollZoom : true,
			gallery:'thumb-slider',
			cursor: 'pointer',
			galleryActiveClass: "active",
		});
		$(zoomCollection).bind('touchstart', function(){
		    $(zoomCollection).unbind('touchmove');
		});
		
		{% if images %}
		$('.large-image img').magnificPopup({
			items: [
			{% for   image in images %}
				{src: '{{image.popup}}'},
			{% endfor %}
			],
			gallery: { enabled: true, preload: [0,2] },
			type: 'image',
			mainClass: 'mfp-fade',
			callbacks: {
				open: function() {
					{% if images %}
						var activeIndex = parseInt($('#thumb-slider .img.active').attr('data-index'));
					{% else %}
						var activeIndex = 0;
					{% endif %}
					var magnificPopup = $.magnificPopup.instance;
					magnificPopup.goTo(activeIndex);
				}
			}

		});
		{% endif %}
	});
//--></script>
        {{ footer }} 
